<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

	<form method="GET" id="frm-main">
    <div class="container">
      <h1>Accommodation Data Layer</h1>
      <p>Create a new student accomodation below by filling in the information below.</p>

      <label>Student ID: </label>
      <input name="studentID" type="number" value="1">



      <label>Description: </label>
      <input type="text" name="description"><br>

      <label>Disability type: </label>
      <select name="type">
        <option value="testing">Testing</option>
        <option value="visual">Visual</option>
        <option value="hearing">Hearing</option>
        <option value="seating">Seating</option>
        <option value="reading">Reading</option>
        <option value="other">Other</option>
      </select>

      <input type="submit" formaction="/create_accommodation" value="Create Accommodation"/> <br>

    </div>

  </form>




</body>
</html>
