<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<h1>Disability Results</h1>
<p>The following disability has been updated to the database:</p>
<p>Student ID: <%=studentID %></p>
<p>Description: <%=description %> </p>
<p>Type: <%=type %> </p>

</body>
</html>
