<!DOCTYPE html>
<html lang="en">
<head>
  <title>Student Accommodations</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    .table td.fit{
      white-space: nowrap;
      width: 1%;
    }
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
    table {
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
    }

    th {
      cursor: pointer;
    }

    th, td {
      text-align: left;
      padding: 16px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2
    }
  </style>
  <script>
    $(document).ready(function(){

        $("#btn-view").click(function(){
            $("#h1-title").text("Students with accommodations");
            $("#selection").html("");
            $("#selection-main").html("");
            $("#h3-main").text("");
            $("#p-main").text("The following students have accommodations.");
            $('#form-main').children().remove(); // remove previous contents
            $('#main').children().remove();
            // create view
            createStudentView();
        });
        $("#btn-search").click(function(){
          //$('#form-main').empty(); // remove previous contents
          //$("#selection-main").empty();
          $("#h1-title").text("Search");
          $("#selection").html("");
          $("#h3-main").text("");
          $("#p-main").text("");
          window.location.assign("/search_accommodations")

        });

        $("#btn-students").click(function(){
            $("#h1-title").text("Student Options");
            $("#selection").html("");
            $("#h3-main").text("");
            $("#p-main").text("");
            $('#form-main').children().remove(); // remove previous contents
            //$('#selection-main').children().remove(); // remove previous contents
            // create selected
            createStudentParts();
        });
        $("#btn-accommodation").click(function(){
            $("#h1-title").text("Accomodation Options");
            $("#selection").html("");
            $("#h3-main").text("");
            $("#p-main").text("");
            $('#form-main').children().remove(); // remove previous contents

            createAccommodationParts();
        });
    }); // -- end of document ready function
    function createAccommodationParts() {
      var main = document.getElementById("selection-main");
      var myHTML = "<label>Add Accommodation:  </label> <button type='submit' class='btn btn-success btn-block' formaction='/add_accommodation'>Add</button>";
      var html2 = "<br><br> <label>View Accommodations: </label> <button type='button' id='btn-student-view' class='btn btn-success btn-block' >View</button>";
      var html3 = "<br><br><label>Edit Student</label> <button type='submit'  formaction='/edit_accommodation' class='btn btn-success btn-block' >Edit</button>"
      main.innerHTML = myHTML + html2 + html3;
      // control handler
      $("#btn-student-view").click(function() {
        console.log("Student view clicked.");
        // create view
        createStudentView();
      });

    }
    function createStudentView() {
      // --start AJAX call
      let url = "/students";
      $.ajax({url: url , success: function(result){
          // Create table
          var myTable = document.createElement("TABLE");
          myTable.setAttribute("id", "table-view");
          myTable.setAttribute("class", "table table-hover");
          $("#form-main").html(myTable); // add table to form-main
          // add header
          var top_row = document.createElement("TR");
          // --- Add table headers ---
          var h1 = document.createElement("TH");
          h1.setAttribute("onclick", "sortTable(0)"); //cursor: pointer;
          h1.setAttribute("style", "cursor: pointer;");
          var h1_text = document.createTextNode("First Name");
          h1.appendChild(h1_text);
          top_row.append(h1);

          var h2 = document.createElement("TH");
          h2.setAttribute("onclick", "sortTable(1)");
          h2.setAttribute("style", "cursor: pointer;");
          var h2_text = document.createTextNode("Last Name");
          h2.appendChild(h2_text);
          top_row.append(h2);

          var h3 = document.createElement("TH");
          h3.setAttribute("onclick", "sortTable(2)");
          h3.setAttribute("style", "cursor: pointer;");
          var h3_text = document.createTextNode("Grade");
          h3.appendChild(h3_text);
          top_row.append(h3);

          var h4 = document.createElement("TH");
          h4.setAttribute("onclick", "sortTable(1)");
          h4.setAttribute("style", "cursor: pointer;");
          var h4_text = document.createTextNode("Type");
          h4.appendChild(h4_text);
          top_row.append(h4);

          // -- end of table headers --
          $("#table-view").append(top_row); // add header row
          // --- get data ---
          var res = JSON.stringify(result);
          var rows = result.rows;
          console.log("First Row: " + JSON.stringify(rows[0]));
          // --- loop through rows ---
          console.log("Row int: " + rows.length);
          var i;
          for ( i = 0; i < rows.length; i++) {
            var firstName = JSON.stringify(rows[i].fname);
            var lastName = JSON.stringify(rows[i].lname);
            var grade = JSON.stringify(rows[i].grade);
            var studentID = JSON.stringify(rows[i].id);
            var has504 = JSON.stringify(rows[i].has_504);
            console.log("504: " + has504);
            var hasiep = JSON.stringify(rows[i].has_iep);
            var type;
            if (has504 =="true" && hasiep == "false") {
              type = "504";
            } else if (has504 =="true" && hasiep == "true") {
              type = "IEP, 504";
            } else if (has504 =="false" && hasiep == "true") {
              type="IEP";
            }

            console.log("TYPE:" + type);

            // --- add rows ---
            var row = document.createElement("TR");
            var td1 = document.createElement("TD");
            var td1_text = document.createTextNode(firstName);
            td1.appendChild(td1_text);
            row.appendChild(td1);

            var td2 = document.createElement("TD");
            var td2_text = document.createTextNode(lastName);
            td2.appendChild(td2_text);
            row.appendChild(td2);

            var td3 = document.createElement("TD");
            var td3_text = document.createTextNode(grade);
            td3.appendChild(td3_text);
            row.appendChild(td3);

            var td4 = document.createElement("TD");
            var td4_text = document.createTextNode(type);
            td4.appendChild(td4_text);
            row.appendChild(td4);



            $("#table-view").append(row);

          }

        }}); // -- end of AJAX
    }

    function createStudentParts() {

      // add innerHTML
      var main = document.getElementById("selection-main");
      var myHTML = "<label>Add Student:  </label> <button type='submit' class='btn btn-success btn-block' formaction='/student'>Add New Student</button>";
      var html2 = "<br><br> <label>View Student: </label> <button type='button' id='btn-student-view' class='btn btn-success btn-block' >View Students</button>";
      var html3 = "<br><br><label>Edit Student</label> <button type='submit' id='btn-student-edit' formaction='/edit_student' class='btn btn-success btn-block' >Edit Student</button>"
      main.innerHTML = myHTML + html3 + html2;
      // control handler
      $("#btn-student-view").click(function() {
        console.log("Student view clicked.");
        // create view
        createStudentView();
      });

    }

    function createSelect() {
      // create selection
      var selector = document.createElement("SELECT");
      selector.setAttribute("id", "mySelect");
      selector.setAttribute("class", "form-control");
      selector.setAttribute("name", "type");
      $("#selection").html(selector); // add table to form-main
      // add options
      var c = document.createElement("option");
      c.setAttribute("value", "null");
      var t = document.createTextNode("");
      c.appendChild(t);
      document.getElementById("mySelect").appendChild(c);
      // more options
      var c1 = document.createElement("option");
      c1.setAttribute("value", "testing");
      var t1 = document.createTextNode("Testing");
      c1.appendChild(t1);
      document.getElementById("mySelect").appendChild(c1);
      // more options
      var c2 = document.createElement("option");
      c2.setAttribute("value", "hearing");
      var t2 = document.createTextNode("Hearing");
      c2.appendChild(t2);
      document.getElementById("mySelect").appendChild(c2);
      // more options
      var c3 = document.createElement("option");
      c3.setAttribute("value", "seating");
      var t3 = document.createTextNode("Seating");
      c3.appendChild(t3);
      document.getElementById("mySelect").appendChild(c3);
      // more options
      var c4 = document.createElement("option");
      c4.setAttribute("value", "reading");
      var t4 = document.createTextNode("Reading");
      c4.appendChild(t4);
      document.getElementById("mySelect").appendChild(c4);
      // more options
      var c5 = document.createElement("option");
      c5.setAttribute("value", "other");
      var t5 = document.createTextNode("Other");
      c5.appendChild(t5);
      document.getElementById("mySelect").appendChild(c5);
      // get cabllback
      $("#mySelect").on('change',function(){
          var option = $("#mySelect").val();
          console.log("Option selected:" + option);
          if (option != "null") {
            console.log("Option isn't null... proceeding");
            // --start AJAX call
            $.ajax({
              type: 'GET',
              url: '/accommodations_type',
              data: {
                'type' : option
              },
              success: function (data) {
                // do stuff
                console.log("In ajax!")
                // --- get data ---
                var res = JSON.stringify(data);
                var rows = data.rows;
                console.log("First Row: " + JSON.stringify(rows[0]));
                // --- loop through rows ---
                console.log("Row int: " + rows.length);
                var i;
                for ( i = 0; i < rows.length; i++) {
                  var studentID = JSON.stringify(rows[i].student_id);
                  var description = JSON.stringify(rows[i].description);
                  var t = JSON.stringify(rows[i].type);
                  console.log("S_ID:" + studentID +", Desc:" + description+ ", Type:" + t );
                  // add rows
                  var table_row = document.createElement("TR");
                  // --- Add fields to table ---
                  var td_id = document.createElement("TD");
                  var td_id_text = document.createTextNode(studentID);
                  td_id.appendChild(td_id_text);
                  table_row.appendChild(td_id);
                  // --- Add td to table ---
                  var td2 = document.createElement("TD");
                  var td2_text = document.createTextNode(description);
                  td2.appendChild(td2_text);
                  table_row.appendChild(td2);
                  // --- Add td to table ---
                  var td3 = document.createElement("TD");
                  var td3_text = document.createTextNode(t);
                  td3.appendChild(td3_text);
                  table_row.appendChild(td3);

                }
              }
            });
          }
      }); // end of select change

    }

    function createSubmit() {
      console.log("Creating button");
      // create table with criteria
      var btn = document.createElement("INPUT");
      btn.setAttribute("id", "btn-submit");
      btn.setAttribute("class", "btn btn-primary");
      btn.setAttribute("type", "submit");
      var t = document.createTextNode("Retrieve");
      btn.appendChild(t);
      var br = document.createElement("BR");
      //$("#selection").html(btn);
      // appendChild
      $("#selection").append(br);
      $("#selection").append(btn);
    }

    function createSearchTable() {
      // create table with criteria
      var myTable = document.createElement("TABLE");
      myTable.setAttribute("id", "table-view");
      myTable.setAttribute("class", "table table-striped table-hover");
      $("#form-main").html(myTable); // add table to form-main
      // add header
      var top_row = document.createElement("TR");
      // --- Add table headers ---
      var h1 = document.createElement("TH");
      var h1_text = document.createTextNode("Student ID");
      h1.appendChild(h1_text);
      top_row.append(h1);

      var h2 = document.createElement("TH");
      var h2_text = document.createTextNode("Description");
      h2.appendChild(h2_text);
      top_row.append(h2);

      var h3 = document.createElement("TH");
      var h3_text = document.createTextNode("Type");
      h3.appendChild(h3_text);
      top_row.append(h3);
      // -- end of table headers --
      $("#table-view").append(top_row); // add header row
      // --- get data ---
    }

    function getAbout() {
      console.log("In get about");
    }
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("table-view");
      switching = true;
      //Set the sorting direction to ascending:
      dir = "asc";
      /*Make a loop that will continue until
      no switching has been done:*/
      while (switching) {
        //start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /*Loop through all table rows (except the
        first, which contains table headers):*/
        for (i = 1; i < (rows.length - 1); i++) {
          //start by saying there should be no switching:
          shouldSwitch = false;
          /*Get the two elements you want to compare,
          one from current row and one from the next:*/
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          /*check if the two rows should switch place,
          based on the direction, asc or desc:*/
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              //if so, mark as a switch and break the loop:
              shouldSwitch= true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              //if so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          /*If a switch has been marked, make the switch
          and mark that a switch has been done:*/
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          //Each time a switch is done, increase this count by 1:
          switchcount ++;
        } else {
          /*If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again.*/
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }

  </script>
</head>
<body>
<%- include ../partials/menu.ejs %>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><button type="button" id="btn-view" class="btn btn-primary btn-block">View</button></p>
      <p><button type="submit" id="btn-search" formaction="/search_accommodations"class="btn btn-primary btn-block">Search</button></p>
      <p><button type="button" id="btn-students" class="btn btn-primary btn-block">Students</button></p>
      <p><button type="button" id="btn-accommodation" class="btn btn-primary btn-block">Accommodations</button></p>
    </div>
    <div class="col-sm-10 text-left" id="div-info">
      <div id="title">
        <h1 id="h1-title"></h1>
      </div>
      <form method="GET" id="selection-main">
        <div id="selection"></div>
      </form>
      <div id="main">
        <h3 id="h3-main">Student Accommodation App</h3>
        <p id="p-main">Welcome to the Student Accommodation App. This application is designed to help teachers
        to keep track of students with accommodations.</p>
        <p>This app is created for CS 313 Web Engineering II project 2. </p>
      </div>
      <div id="form-main" class="container" class="container table-responsive"></div>




    </div>

  </div>
</div>

<footer class="container-fluid text-center">
  <p>Student Accommodation App -  © 2018</p>
</footer>

</body>
</html>
