<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<h1>Shipping Cost</h1>
<p>Weight: <%=weight %> ounce/s </p>
<p>Mailing Type: <%=type %> </p>
<p>Cost: $<%=result %> </p>
</body>
</html>