<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

	<form method="GET" id="frm-student">
    <div class="container">
      <h1>Student Data Layer</h1>
      <p>Create a new student by filling in the information below.</p>

      <label>First name: </label>
      <input type="text" name="fName"><br>

      <label>Last name: </label>
      <input type="text" name="lName"><br>

      <label>Grade: </label>
      <input type="number" min="0" max="12" name="grade"><br>

      <input type="checkbox" name="iep" value="no">Student has an IEP?<br>
      <input type="checkbox" name="student504" value="no">Student has a 504?<br>
      <br>
      <input type="submit" formaction="/create_student" value="Create Student"/> <br>


    </div>

  </form>




</body>
</html>
